# Arquivos e diretórios do Visual Studio Code
.vscode/
*.code-workspace

# Diretório output
/output/

# Arquivos de build e binários de programas em C
*.out
*.exe
*.obj
*.o
*.a
*.so
*.dll

# Diretórios de build comuns
/build/
/bin/
/debug/
/release/

# Arquivos temporários e de logs
*.log
*.tmp
*.temp
*.swp
*.swo
*~

# Arquivos gerados pelo compilador
*.d
*.gcda
*.gcno
*.gcov

# Arquivos específicos do sistema operacional
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db      # Windows
